{% extends 'base.html' %}


{% block main %}
<main class="container bg-light">

<h1>Про сайт</h1>
    <p>Сайт був створений 18 травня 2024 року з метою допомогти людям дізнатись більше про різні марки машин. Він містить інформацію про такі відомі автомобільні бренди, як Audi, Volkswagen, BMW, Opel, Skoda, Mazda та Volvo. Кожна марка представлена своїм логотипом на головній сторінці сайту, що дозволяє відвідувачам легко знайти потрібну інформацію,

 і має на меті надавати корисні відомості про автомобілі цих марок, включаючи їхні технічні характеристики, історію, новини та інші цікаві факти.</p>

<p>На головній сторінці є кілька розділів:

"Інформація" – загальна інформація про сайт та його цілі;
"Про сайт" – детальніше про створення та мету ресурсу;
"Марки машин" – перелік автомобільних брендів, інформація про які представлена на сайті.</p>
Цей сайт стане в нагоді всім, хто цікавиться автомобілями, шукає новий автомобіль або просто хоче дізнатися більше про свої улюблені бренди.


</main>
{% endblock main %}