{% extends 'base.html' %}


{% block main %}
<main class="container bg-light">

<h1>Audi</h1>
<p>Audi - це німецький виробник автомобілів преміум-класу, що входить до складу концерну Volkswagen Group. Бренд відомий своєю якістю, інноваціями та дизайном. Автомобілі Audi мають репутацію надійних і сучасних машин з високим рівнем комфорту та безпеки.</p>

    <h2><p>Ключові аспекти бренду Audi:</p></h2>
<p>1.Інновації та технології: Audi активно впроваджує новітні технології в свої автомобілі. Це включає систему повного приводу quattro, різні види електричних та гібридних двигунів, а також передові системи допомоги водію та інформаційно-розважальні системи.</p>

<p>2.Дизайн: Автомобілі Audi відомі своїм елегантним і сучасним дизайном. Багато моделей мають характерні риси, такі як широка решітка радіатора та виразні фари.</p>

<p>3.Якість збірки: Audi приділяє велику увагу якості збірки і матеріалів, використаних в автомобілях. Це відчутно як у зовнішньому вигляді, так і в інтер'єрі автомобіля.</p>

<p>4.Різноманітність моделей: Audi пропонує широкий асортимент моделей, від компактних автомобілів, таких як A3, до розкішних седанів, таких як A8, і спортивних моделей, таких як R8.</p>

<p>Переваги та недоліки автомобілів Audi:</p>
    <h3><p>Переваги:</p></h3>
<li>Високий рівень комфорту і якості.</li>
<li>Передові технології та інновації.</li>
<li>Широкий вибір моделей на будь-який смак і потреби.</li>
<li>Добра репутація бренду і надійність.</li>
    <h3><p>Недоліки:</p></h3>
    <li>Висока вартість обслуговування і ремонту.</li>
<li>Ціна автомобілів, яка може бути вищою порівняно з деякими конкурентами.</li>
<li>Деякі моделі можуть мати високу витрату пального.</li>
    <h2><p>Висновок: Чи варто купувати Audi?</p></h2>
Купівля Audi може бути відмінним вибором, якщо ви шукаєте автомобіль преміум-класу з передовими технологіями, високою якістю збірки та стильним дизайном. Однак слід враховувати вищі витрати на обслуговування та ціну автомобіля. Якщо ви готові інвестувати в якісний автомобіль і вас не лякають можливі витрати на його утримання, то Audi може бути чудовим вибором.
    <p><img src="https://ireland.apollo.olxcdn.com/v1/files/t86mr7fgfx722-UA/image;s=1280x720"style="width:1000px;height:500px;"></p>

</main>
{% endblock main %}