{% extends 'base.html' %}


{% block main %}
<main class="container bg-light">

<h1>Марки машин</h1>
     <img src="https://gaadhi.s3.amazonaws.com/uploads/brand/icon/3/buy-cars-audi.png" style="width:200px;height:200px;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Volkswagen_logo_2019.svg" style="width:128px;height:128px;">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/BMW_logo_%28gray%29.svg/1024px-BMW_logo_%28gray%29.svg.png" style="width:128px;height:128px;">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Opel_logo.svg/1280px-Opel_logo.svg.png" style="width:190px;height:145px;">
       <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/%C5%A0koda_nieuw.png" style="width:128px;height:128px;">
       <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/8/8d/Mazda_2018.svg/1200px-Mazda_2018.svg.png" style="width:128px;height:128px;">
       <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Volvo-Iron-Mark-Black.svg/640px-Volvo-Iron-Mark-Black.svg.png" style="width:128px;height:128px;">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS84dFBONAkCtqOHqrgPGxUxlJiug72yP_u0w&s" style="width:155px;height:125px;">
</main>
{% endblock main %}