{% extends 'base.html' %}


{% block main %}
<main class="container bg-light">

<h1>Головна сторінка</h1>
<h1>Найпопулярніші марки автомобілів.</h1>
     <img src="https://gaadhi.s3.amazonaws.com/uploads/brand/icon/3/buy-cars-audi.png" style="width:200px;height:200px;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Volkswagen_logo_2019.svg" style="width:128px;height:128px;">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/BMW_logo_%28gray%29.svg/1024px-BMW_logo_%28gray%29.svg.png" style="width:128px;height:128px;">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Opel_logo.svg/1280px-Opel_logo.svg.png" style="width:190px;height:145px;">
       <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/%C5%A0koda_nieuw.png" style="width:128px;height:128px;">
       <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/8/8d/Mazda_2018.svg/1200px-Mazda_2018.svg.png" style="width:128px;height:128px;">
       <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Volvo-Iron-Mark-Black.svg/640px-Volvo-Iron-Mark-Black.svg.png" style="width:128px;height:128px;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS84dFBONAkCtqOHqrgPGxUxlJiug72yP_u0w&s" style="width:155px;height:125px;">
       <h1>Інформація та технічна характеристика автомобілів.</h1>
    <a href="https://uk.wikipedia.org/wiki/Audi">
<img src="https://gaadhi.s3.amazonaws.com/uploads/brand/icon/3/buy-cars-audi.png" style="width:200px;height:200px;">
    </a>
    <a href="https://uk.wikipedia.org/wiki/Volkswagen">
<img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Volkswagen_logo_2019.svg" style="width:128px;height:128px;">
    </a>
    <a href="https://uk.wikipedia.org/wiki/BMW">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/BMW_logo_%28gray%29.svg/1024px-BMW_logo_%28gray%29.svg.png" style="width:128px;height:128px;">
    </a>
    <a href="https://uk.wikipedia.org/wiki/Opel">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Opel_logo.svg/1280px-Opel_logo.svg.png" style="width:190px;height:145px;">
    </a>
    <a href="https://uk.wikipedia.org/wiki/Skoda">
   <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/%C5%A0koda_nieuw.png" style="width:128px;height:128px;">
    </a>
    <a href="https://uk.wikipedia.org/wiki/Mazda">
        <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/8/8d/Mazda_2018.svg/1200px-Mazda_2018.svg.png" style="width:128px;height:128px;">
    </a>
    <a href="https://uk.wikipedia.org/wiki/Volvo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Volvo-Iron-Mark-Black.svg/640px-Volvo-Iron-Mark-Black.svg.png" style="width:128px;height:128px;">
    </a>
    <a href="https://uk.wikipedia.org/wiki/Toyota">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS84dFBONAkCtqOHqrgPGxUxlJiug72yP_u0w&s"style="width:155px;height:125px;">
    </a>
    <h1>Детальніше про марку</h1>

<div class="row">
  <div class="col-sm-3"><h3><a href="http://127.0.0.1:5000/audi">Audi</a></h3></div>
  <div class="col-sm-3"><h3><a href="http://127.0.0.1:5000/bmw">BMW</a></h3></div>
    <div class="col-sm-3"><h3><a href="http://127.0.0.1:5000/volkswagen">Volkswagen</a></h3></div>
     <div class="col-sm-3"><h3><a href="http://127.0.0.1:5000/opel">Opel</a></h3></div>

</div>
    <div class="row">
  <div class="col-sm-3"><h3><a href="http://127.0.0.1:5000/mazda">Mazda</a></h3></div>
  <div class="col-sm-3"><h3><a href="http://127.0.0.1:5000/volvo">Volvo</a></h3></div>
  <div class="col-sm-3"><h3><a href="http://127.0.0.1:5000/skoda">Skoda</a></h3></div>
 <div class="col-sm-3"><h3><a href="http://127.0.0.1:5000/toyota">Toyota</a></h3></div>
    </div>
</main>
{% endblock main %}

